IMAGE_REGISTRY=ghcr.io/your-github-username
IMAGE_TAG=latest
MONGO_PORT=27017

PORT_API_GATEWAY=3000

USER_SERVICE_HOST=ecommerce-user-service
USER_SERVICE_PORT=4001

PRODUCT_SERVICE_HOST=ecommerce-product-service
PRODUCT_SERVICE_PORT=4002

ORDER_SERVICE_HOST=ecommerce-order-service
ORDER_SERVICE_PORT=4005

PAYMENT_SERVICE_HOST=ecommerce-payment-service
PAYMENT_SERVICE_PORT=4004

# MONGO_URI_CART is still needed — the order-service uses a separate cart-db collection
MONGO_URI_CART=mongodb://mongo:27017/cart-db

JWT_SECRET=change-me
JWT_EXPIRATION=3600s
